@media screen and (min-width: 320px) {
  .homepage {
    height: 100%;
    position: relative;
    // background-image: linear-gradient(
    //   to bottom right,
    //   rgba(183, 135, 245, 1),
    //   rgba(116, 62, 228, 1)
    // );
    .hero-background {
      height: 65%;
      background-size: cover;
      background-position: center;
    }
  }
}
